In [1]:
import pandas as pd

# Read data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

   fever  Bodypain  age  runnyNose  diffBreath  cough  InfectionProb
0     98         1    0          0           1      1              0
1    100         0    1          1           1      0              0
2    104         0    0          1           0      1              0
3    100         1    1          0          -1      0              1
4    103         1    0          1           0      0              0

In [4]:
df.tail()

      fever  Bodypain  age  runnyNose  diffBreath  cough  InfectionProb
2098    102         1    0          0          -1      1              1
2099    101         0    0          0          -1      1              0
2100     98         0    0          1          -1      1              1
2101     99         1    0          0           1      1              1
2102     98         0    0          0           1      1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2103 entries, 0 to 2102
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2103 non-null   int64
 1   Bodypain       2103 non-null   int64
 2   age            2103 non-null   int64
 3   runnyNose      2103 non-null   int64
 4   diffBreath     2103 non-null   int64
 5   cough          2103 non-null   int64
 6   InfectionProb  2103 non-null   int64
dtypes: int64(7)
memory usage: 115.1 KB

In [6]:
df['diffBreath'].value_counts()

 1    712
-1    711
 0    680
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,Bodypain,age,runnyNose,diffBreath,cough,InfectionProb
count,2103.000000,2103.000000,2103.000000,2103.000000,2103.000000,2103.000000,2103.000000
mean,100.998098,0.525915,0.498811,0.493581,0.000476,0.483595,0.491203
std,2.000950,0.499447,0.500118,0.500078,0.822784,0.499850,0.500042
min,98.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
25%,99.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
50%,101.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,103.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([0, 5, 4, 3, 6, 2, 1])

In [11]:
train, test=data_split(df, 0.2)

In [12]:
train

      fever  Bodypain  age  runnyNose  diffBreath  cough  InfectionProb
1138    100         1    1          1           0      1              1
694     102         1    0          1          -1      0              0
1872    102         0    1          1          -1      0              0
45      103         0    0          1           1      0              1
1073    101         0    1          0          -1      0              1
...     ...       ...  ...        ...         ...    ...            ...
1638    102         0    1          1           1      0              0
1095    104         0    0          0           0      1              1
1130    102         0    1          1           1      0              1
1294     98         1    0          0          -1      1              0
860      98         1    0          0          -1      0              0

[1683 rows x 7 columns]

In [13]:
test

      fever  Bodypain  age  runnyNose  diffBreath  cough  InfectionProb
1873    104         0    0          0          -1      1              0
361     100         1    0          1          -1      1              1
1639    101         1    0          0          -1      0              1
297     102         0    0          0          -1      0              1
196     103         0    0          1          -1      0              1
...     ...       ...  ...        ...         ...    ...            ...
849      99         1    1          1           1      1              1
938     103         0    0          1           0      1              1
1041    104         0    1          1           0      0              0
979     101         0    0          0           0      0              1
1909    101         1    0          1          -1      1              1

[420 rows x 7 columns]

In [14]:
X_train=train[['fever','Bodypain','age','runnyNose','diffBreath','cough']].to_numpy()
X_test=test[['fever','Bodypain','age','runnyNose','diffBreath','cough']].to_numpy()

In [15]:
Y_train=train[['InfectionProb']].to_numpy().reshape(1683,)
Y_test=test[['InfectionProb']].to_numpy().reshape(420,)

In [16]:
Y_train

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
inputFeatures=[100,1,22,1,1,1]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [22]:
infProb

0.8028443956004092